*.class
*.war
*.ear
*.ipr
*.iml
*.iws
*.log
**/.checkstyle
rebel.xml

.classpath
!/.project
.project
.settings
.DS_Store
.idea

classes/
target
test-output/
build
bin/
overlays/
pom.xml.versionsBackup
temp/


=======
*.iml
*.ipr
*.iws
.idea/

.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
